@import "grid";
@import "base";
@import "vars";

.hero-section{
  position: relative;
  max-height: 800px;
  height: 100%;
  /* background-image: linear-gradient(-180deg, rgba(#0099F7,0.6) -20%, rgba($accent-color,0.6) 100%);*/
  background-color: rgba(#000, 0.8);
  /* background-image: linear-gradient(-180deg, rgba(#f79d00, 0.3)  -20%, rgba(#64f38c, 0.6) 100%);*/
  overflow: hidden;
  figure {
    width: 300%;
    position: relative;
    z-index: -1;
    -webkit-animation: 15s slide infinite;
            animation: 15s slide infinite;
    div {
      width: 33.33333%;
      float: left;
    }
  }
}
@-webkit-keyframes slide {
  0% {
    left: 0%;
  }
  28% {
    left: 0%;
  }
  33.33% {
    left: -100%;
  }
  61.3333% {
    left: -100%;
  }
  66.666% {
    left: -200%;
  }
  100% {
    left: -200%;
  }
}
@keyframes slide {
  0% {
    left: 0%;
  }
  28% {
    left: 0%;
  }
  33.33% {
    left: -100%;
  }
  61.3333% {
    left: -100%;
  }
  66.666% {
    left: -200%;
  }
  100% {
    left: -200%;
  }
}
.hero-section__img {
  float: left;
}
.header {
  padding: 0px 6.25%;
  @extend %flex-between;
  font-family: $font-family-header, sans-serif;
  position: fixed;
  left: 0;
  z-index: 11;
  right: 0;
  top: 0;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
}
.logo {
  width: 180px;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
}
#logo2 {
  display: none;
  width: 103px;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
}
.nav-links {
  @extend %flex-between;
  li {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-size: 18px;
      text-transform: capitalize;
      font-weight: 700;
      letter-spacing: 0.08em;
      position: relative;
      padding: 10px 0;
      overflow: hidden;
      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $accent-color;
        bottom: 0px;
        left: 100%;
        right: 0;
        -webkit-transition: left 350ms ease;
        transition: left 350ms ease;
      }
      &:hover {
        &:before {
          left: 0;
        }
      }
    }
    .active {
      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $accent-color;
        bottom: 0px;
        left: 0;
      }
    }
    .cta-btn {
      padding: 12px 20px;
      border-radius: 30px;
      background-color: $accent-color;
      text-transform: uppercase;
      color: #fff;
      font-size: 12px;
      border: 2px solid $accent-color;
      &:before {
        display: none;
      }
    }
  }
}

.hero-text {
  width: 100%;
  text-align: center;
  font-weight: 300;
  @extend %center;
  .hero-text__1 {
    font-size: 36px;
    line-height: 60px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);
    span:last-child {
      font-size: 58px;
      line-height: 96px;
      font-weight: 700;
      /* text-transform: uppercase;*/
      color: $accent-color;
    }
  }
  .hero-text__location {
    font-size: 20px;
    font-style: italic;
    line-height: 36px;
    font-weight: 400;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);
  }
  .hero-text__2 {
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin: 30px 0;
    color: $accent-color;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);
  }
  time {
    font-size: 18px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);
  }
}

.mouse {
  bottom: 30px;
  left: 50%;
  width: 30px;
  height: 45px;
  border: 2px solid $accent-color;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: scroll 2s infinite;
          animation: scroll 2s infinite;
  z-index: 10;
  .mouse__inner {
    position: absolute;
    width: 6px;
    height: 13px;
    border: 2px solid $accent-color;
    border-radius: 20px;
    left: 50%;
    top: 6px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes scroll {
  0% {
    bottom: 3rem;
  }
  50% {
    bottom: 2rem;
  }
  100% {
    bottom: 3rem;
  }
}
@keyframes scroll {
  0% {
    bottom: 3rem;
  }
  50% {
    bottom: 2rem;
  }
  100% {
    bottom: 3rem;
  }
}

.about-section{
  position: relative;
  background-color: #f5f5dc;
  height: 600px;
}

.about-text {
  text-align: justify;
  width: 75%;
  @extend %center;
  color: #666;
}
.heading-text {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.about-text__1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}
.about-text__2 {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 27px;
  font-style: italic;
}

/* =============================================*/
/* Activities*/
/* =============================================*/
.activity-card {
  position: relative;
  margin-bottom: -4px;
  img {
    background-color: rgba(#000, 0.4);
  }
}
.activity-card__title {
  position: absolute;
  width: 100%;
  padding: 30px;
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
  background-color: rgba(#000, 0.7);
  p {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    vertical-align: middle;
    @extend %center;
    padding: 10px;
    width: 100%;
    color: #f5f5dc;
  }
}


/* =============================================*/
/* Facilities*/
/* =============================================*/
.facilities {
  background-color: #f5f5dc;
  text-align: center;
  color: #333;
  padding: 140px 0 80px 0;
  .row:last-child {
    margin-top: 60px;
  }
  h1 {
    margin-bottom: 60px;
  }
  p {
    color: $accent-color;
    text-transform: capitalize;
    font-size: 18px;
  }
}
.icon-container {
  width: 145px;
  height: 145px;
  border: 1px solid $accent-color;
  border-radius: 50%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 30px;
  span {
    @extend %center;
  }
}

/* =============================================*/
/* Pricing*/
/* =============================================*/
.pricing {
  background-color: #f5f5dc;
  padding-bottom: 120px;
  /* background: linear-gradient(to right, #34e89e, #0f3443);*/
  .heading-text {
    color: #fff;
  }
}
.pricing__header {
  background: $accent-color;
  height: 300px;
  padding-top: 100px;
}
.pricing-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -80px;
}
.pricing-card {
  position: relative;
  background-color: #f5f5dc;
  color: #666;
  font-size: 20px;
  line-height: 40px;
  height: 230px;
  width: 303px;
  box-shadow: 10px 10px 40px rgba(#000, 0.4);
  border-radius: 4px;
  .pricing-content{
    @extend %center;
    width: 75%;
  }
  h4, h2 {
    color: $accent-color;
    font-weight: 700;
    font-family: $font-family-text;
  }
  h4 {
    text-decoration: line-through;
    /* margin-right: 20px;*/
    font-weight: 400;
    opacity: 0.8;
  }
  ul {
    margin-top: 10px;
    text-align: left;
    li {
      list-style: inherit;
      display: inline-block;
      margin-left: 20px;
      position: relative;
      &:before {
        content: '';
        height: 8px;
        width: 8px;
        background: #666;
        border-radius: 50%;
        position: absolute;
        left: -20px;
        top: 50%;
        margin-top: -4px;
      }
    }
  }
  .covered-info {
    position: relative;
    list-style: inherit;
    a {
      position: absolute;
      top: -5px;
      right: -18px;
      .flaticon-logo:before {
        font-size: 14px;
        color: #0f3443;
      }
    }
  }
}
.price-tag {
  /* display: flex;*/
  /* align-items: center;*/
  /* justify-content: center;*/
}
.availability-info {
  font-style: italic;
  margin-top: 60px;
  p {
    font-size: 20px;
    font-weight: 400;
    /* font-family: 'raleway';*/
    color: #333;
    span {
      color: $accent-color;
      font-size: 24px;
    }
  }
}
.pricing-btn {
  display: inline-block;
  margin-top: 30px;
}
.primary-btn {
  @extend %primary-btn;
  border: 2px solid $accent-color;
  background: $accent-color;
  font-size: 14px;
  color: #fff;
}

/* =============================================*/
/* FAQS*/
/* =============================================*/
.faqs-page {
  color: #333;
  background-color: #f5f5dc;
  padding: 175px 0 80px 0;
  h3 {
    margin: 15px 0 10px 0;
    font-weight: 400;
    line-height: 36px;
    &:first-child {
      margin-top: 0;
    }
  }
  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #666;
    text-align: justify;
  }
}

/* =============================================*/
/* About Page*/
/* =============================================*/
.about-page {
  padding-top: 95px;
  color: #333;
}
.team {
  padding: 100px 0;
}
.team__member {
  @extend %flex-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  img{
    height: 175px;
    width: 175px;
    border-radius: 50%;
  }
  h3 {
    margin-top: 16px;
    font-weight: 400;
  }
  .designation {
    font-size:20px;
    margin: 8px 0;
    font-weight: 400;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    color: #666;
    line-height: 21px;
  }
  .about-member {
    margin: 20px 0 0px 0;
    a {
      color: blue;
      display: inline-block;
    }
  }
  address {
    p {
      font-size: 18px;
      margin: 20px 0;
    }
  }
  .social {
    .flaticon-social:before, .flaticon-social-media:before, .flaticon-linkedin-sign:before {
      font-size: 24px;
      color: #000;
    }
  }
}
.contact-us {
  background: beige;
  padding: 120px 0;
  .form-control {
    display: block;
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #9c9c9c;
    &:focus {
    outline-offset: -1px;
    border-radius: 4px;
    outline: $accent-color auto 3px;
    }
  }
  textarea {
    width: 100%;
    height: 100%;
  }
  .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    .form-control {
      margin-bottom: 0;
      width: 120px;
      margin-right: 20px;
      border-radius: 20px;
      outline: 0;
      border: 2px solid $accent-color;
      color: $accent-color;
      transition: all 250ms ease-in-out;
      box-shadow: none;
      cursor: pointer;
      &:hover {
        background: $accent-color;
        color: #fff;
      }
      // padding: 10px 40px;
      background: #fff;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

/* =============================================*/
/* Apply*/
/* =============================================*/
.apply-page {
  padding-top: 95px;
}
.orange-logo {
  width: 103px;
}
.secondary-header {
  padding: 20px 80px;
  background: rgba(255, 255, 255, 0.8);
  a {
    color: $accent-color;
  }
}


/* =============================================*/
/* Location Page*/
/* =============================================*/
.location{
  position: relative;
  height: 800px;
  background: beige;
}
.where {
  position: absolute;
  width: 100%;
  z-index: 100;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}
.location-text{
  padding: 0 60px;
  // width: 50%;
  color: #333;
  font-size: 18px;
  font-weight: 100;
  p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 27px;
  }
  ol li{
    list-style: decimal;
    line-height: 30px;
  }
}
.why-india {
  // right: 0;
}
.why-mcleod {
  // left: 0;
}
iframe {
  position: relative;
  z-index: 1;
}

/* =============================================*/
/* Footer*/
/* =============================================*/
footer {
  background-color: #333;
  border-top: 10px solid $accent-color;
  padding: 50px 0;
  .grid {
    @extend %flex-between;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    a {
      color: #909090;
      &:hover {
        color: $accent-color;
      }
    }
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__icon {
  margin-left: 30px;
  &:first-child {
    margin-left: 0;
  }
  &:hover .flaticon-social:before, &:hover .flaticon-social-media:before, &:hover .flaticon-social-1:before, &:hover .flaticon-linkedin-sign:before {
    color: $accent-color;
  }
}
.flaticon-social:before, .flaticon-social-media:before, .flaticon-social-1:before, .flaticon-linkedin-sign:before {
  color: #909090;
  font-size: 40px;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  &:hover {
    color: $accent-color;
  }
}
.copyright-text {
  color: #909090;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}


.clearfix {
  @include clearfix;
}

/* =============================================*/
/* Responsive*/
/* =============================================*/

@import "responsive";